APP_IMAGE=seuusuario/instagram-api:1.0.0
IG_USERNAME=usuario_coletor
IG_PASSWORD=senha_do_usuario
KAFKA_BOOTSTRAP_SERVER=kafka:9092
USERS_CSV_PATH=/opt/instagram/config/users.csv
SESSION_DIR_PATH=/var/lib/instagram/session
