APP_IMAGE=seuusuario/instagram-api:1.0.0
IG_USERNAME=usuario_coletor
IG_PASSWORD=senha_do_usuario
KAFKA_BOOTSTRAP_SERVER=kafka:9092
KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SASL_USERNAME=usuario_kafka
KAFKA_SASL_PASSWORD=senha_kafka
USERS_CSV_PATH=/opt/instagram/config/users.csv
SESSION_DIR_PATH=/var/lib/instagram/session
